body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}


.page-title {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 5px 5px 5px rgba(128, 128, 128, 0.5);
}

.page-title-title {
    font-size: 40px;
    position: relative;
}

.page-title-title:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    border-radius: 2px;
    width: 70%;
}

nav > a {
    color: black;
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
    position: relative;
}

nav > a::before,
.page-title-title::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 10;
    left: 0;
    background-color: slategrey;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav > a:hover::before,
.page-title-title:hover::before {
    visibility: visible;
    width: 100%;
}

.page-title {
    transition: all 0.3 ease;
}
.page-title.hide {
    position: absolute;
    top: -100;
}