body {
    background-color: #333333;
    overflow: hidden;
}

.nav {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    flex-direction: column;
    height: 100%;
    width: 250px;
    box-shadow: 0 0 2px 5px #333333;
    transition: all 0.3s ease;
    z-index: 100;
}

.nav.close {
    left: -250;
}

.title {
    font-size: 30px;
    text-align: center;
    background-color: #222222;
    color: whitesmoke;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 85%;
    border-radius: 5px;
}

.option {
    position: relative;
    height: 50px;
    border-radius: 2px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.option::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    background-color: orangered;
    top: 50%;
    transform: translateY(-50%);
}

.option:hover {
    cursor: pointer;
    background-color: #c5c5c5;
}

.option > p {
    position: relative;
    top: 0%;
    transform: translateY(-50%);
    transform: translateX(10%);
}

.option.clicked {
    background-color: #c5c5c5;
    position: relative;
}

.option.clicked > .animation-frame {
    background-color: rgba(255, 166, 0, 0.425);
    height: 90%;
    width: 30px;
    position: relative;
    top: -10px;
    transform: translate(-25px, -25px);
    animation-name: option-animation;
    animation-delay: 1s;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    filter: blur(3px);
    opacity: 0;
}

@keyframes option-animation {
    0% {
        transform: translate(0%, -100%);
        width: 10px;
        opacity: 1;
    }
    25% {
        width: 20px;
        opacity: 1;
    }
    50% {
        transform: translate(230px, -100%);
        opacity: 0;
    }
    75% {
        width: 10px;
    }
    100% {
        transform: translate(230px, -100%);
        opacity: 0;
    }
}

.close-menu-button {
    position: absolute;
    top: 50%;
    left: 90%;
    background-color: purple;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.fa-caret-left {
    font-size: 45px;
    color: paleturquoise;
    position: absolute;
    top: 5%;
    left: 25%;
    transform: translate(-0%, 0%);
    transition: all 0.3s ease;
}

.close-menu-button:hover {
    cursor: pointer;
    border-radius: 25%;
    transform: rotateZ(180deg);
}

.close-menu-button:hover > .fa-caret-left {
    transform: rotateZ(180deg);
    left: 35%;
    top: 5%;
}

.close-menu-button.close > .fa-caret-left {
    transform: rotateZ(180deg);
    left: 50%;
}

.close-menu-button.close:hover > .fa-caret-left {
    transform: rotateZ(360deg);
    left: 20%;
    top: 5%;
}

.double-click-animation {
    background-color: orange;
    height: 30px;
    transform: translateY(13px);
    transition: all 0.3s ease;
}

.card {
    height: 80%;
    width: 60%;
    background-color: whitesmoke;
    padding: 5px;
    color: #212221;
    border-radius: 10px;
    margin-left: 25px;
    z-index: -1;    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 0%;
    filter: blur(5px);
    opacity: 0.1;
    /* transition: all 0.7s ease; */
    transition: all 0.7s;
    transition-timing-function: cubic-bezier(0.075, 0.5, 0.165, 1);
}

.card.reading {
    position: absolute;
    transform: translate(-50%, -50%);
    filter: blur(0px);
    top: 55%;
    left: 60%;
    opacity: 1;
}

.card-title {
    font-size: 30px;
    text-align: center;
    width: 110%;
    transform: translateX(-5%);
    position: relative;
    height: 10%;
    border-bottom: 10px solid #333333;
    transition: all 0.3s ease;
    text-decoration: underline;
}

.card-title:hover {
    height: 11%;
    transform: translateZ(-2%);
    box-shadow: 0 0 5px 5px #333333;
}

.card-info {
    margin: 20px;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    height: 69%;
    transition: all 0.3s ease;
}

.card-animation-frame {
    position: relative;
    transform: translate(-2%, -8%);
    height: 132%;
    width: 108%;
    margin: -20;
    border-radius: 0px;
    transition: all 0.3s ease;
}

.card-info:hover > .card-animation-frame {
    position: relative;
    transform: translate(-1.3%, -8.5%);
    height: 132%;
    width: 108%;
    margin: -20;
    box-shadow: 0 0 15px 5px #050505;
    border-radius: 10px;
}
