body {
    background-color: rgb(216, 206, 206);
    margin: 0 auto;
}

.container {
    background-color: aliceblue;
    height: 50%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.container:hover {
    box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.418);
}

#mainArea {
    resize: none;
    height: 93%;
    width: 98%;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    text-indent: 10px;
    font-size: 15px;
    background-color: rgba(240, 248, 255, 0);
    font-family: 'Poppins', sans-serif;
}