body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    overflow: hidden;
}

.title {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #083D77;
    color: white;
    border-radius: 2px;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);
    padding: 10px;
    height: 75%;
    width: 40%; 
}

.card {
    background-color: 36558F;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 2.2;
    border-radius: 2px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 5px 3px #40376e7e;
    cursor: pointer;
}

.properties {
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    right: 0.5%;
    transform: translate(0%, -45%);
    padding: 10px;
    height: 85%;
    width: 25%; 
    border-radius: 2px;
    transition: all 0.3s ease;
}

.add-card, .edit-card {
    margin-bottom: 40px;
}

.add-card-title, .edit-card-title, .delete, .check-it {
    font-size: 18px;
    color: #f9f8ff;
    text-align: center;
    width: 100%;
    background-color: #2F4550;
    border-radius: 2px;
    margin-bottom: 10px;
}

.add-card-name, .edit-card-name {
    font-size: 16px;
    background-color: #36558F;
    height: 80px;
    padding: 10px;
    color: white;
    border-radius: 2px;
}

.add-card-name > input, .edit-card-name > input {
    width: 100%;
    height: 30px;
    border: 2px solid #36558F;
    border-radius: 2px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.add-card-name > input:focus, .edit-card-name > input:focus {
    height: 40px;
    outline: none;
}

.delete {
    background-color: #F22B29;
}

.check-it {
    background-color: green;
}

.delete, .check-it {
    margin-top: 70px;
    margin-bottom: 40px;
    transition: all 0.3s ease;
    font-size: 16px;
}

.delete:hover, .check-it:hover {
    box-shadow: 0 0 3px 3px #40376e7e;
    cursor: pointer;
}

.open-close-button:hover {
    cursor: pointer;
}

.open-close-button.open {
    
}

.boards {
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 0.5%;
    transform: translate(0%, -45%);
    padding: 10px;
    height: 85%;
    width: 200; 
    border-radius: 2px;
    transition: all 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
}

.boards-title {
    font-size: 18px;
    color: #f9f8ff;
    text-align: center;
    width: 100%;
    background-color: #2F4550;
    border-radius: 2px;
    margin-bottom: 20px;
}

.boards-space {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content:space-between;
    width: 100%;
}

.board {
    /* padding-top: 40%; */
    /* width: 40%; */
    width: 170px;
    height: 120px;
    background-color: rgb(59, 156, 156);
    margin-bottom: 10px;
    border-radius: 2px;
    margin-left: 8px;
    transition: all 0.3s ease;
}

.board-add-button {
    background-color: #293b44;
    bottom: 1%;
    position: fixed;
    font-size: 18px;
    width: 170px;
    text-align: center;
    color: #f9f8ff;
    border-radius: 2px;
    left: 230;
    transition: all 0.3s ease;
}

.board-add-button:hover {
    box-shadow: 0 0 3px 3px #40376e7e;
    cursor: pointer;
}

.board-name {
    height: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);    
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    position: relative;
    font-size: 14px;
}

.board:hover {
    box-shadow: 0 0 3px 3px #40376e7e;
    cursor: pointer;
}